.closeModal {
  position: absolute;
  right: 0px;
}

.bookDetails {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.summary {
  flex: 1 1;
  margin: 10px;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
}

.button {
  font: inherit;
  cursor: pointer;
  font: inherit;
  color: white;
  background-color: #9f5ccc;
  border: 1px solid white;
  border-radius: 4px;
  padding: 16px;
}

.button:hover {
  background-color: #c291e2;
  color: #38015c;
}

p {
  display: flex;
  justify-content: center;
}
